.ResetPassword{
    margin-left: 30%;
    
    
}
.buttenResetPassword{
    background-color: #37889A;
    width: 100px;
    color: white;
    border-radius: 6%;
   
}



@media(max-width:740px){
 .ResetPassword{
     margin-left: 3%;
     width: 95%;
    
     height: 250px;
     

 }   
}

@media(min-width:800px){
    .ResetPassword{
        margin-left: 25%;
    }
}



